name: ci - mcm-build

on:
  workflow_call:
    inputs:
      mcm_build_matrix:
        description: "Json matrix for mcm build"
        required: true
        type: string
      gnu_mirror_url:
        description: "URL for GNU mirror"
        required: true
        type: string

jobs:
  mcm-build:
    name: ${{ matrix.triple_prefix }}-${{ matrix.arch_type }}
    runs-on: ${{ matrix.build_host }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(inputs.mcm_build_matrix) }}
    env:
      matrix_arch_type: ${{ matrix.arch_type }}
      matrix_arch_config: ${{ matrix.arch_config }}
      matrix_triple_prefix: ${{ matrix.triple_prefix }}
      container_name: "cross_builder"

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.repository.default_branch }}
          persist-credentials: false

      - name: Host - Bootstrap docker container
        uses: userdocs/actions/qbt_docker@e8f57bd585c7bb6dcce011694d6772bab657abca # v1.0.7
        with:
            os_id: "alpine"
            os_version_id: "edge"
            additional_apps: >
              autoconf automake bash bison build-base curl
              findutils flex git libarchive-tools libtool
              linux-headers patch perl pkgconf rsync
              tar texinfo xz zip zlib-dev zlib-static
            custom_docker_commands: |
              -e GNU_MIRROR_URL=${{ inputs.gnu_mirror_url }}

      - name: Host - Set ${{ matrix.arch_type }} musl to ${{ matrix.arch_config }}
        run: sed "s|GCC_CONFIG_FOR_TARGET +=|GCC_CONFIG_FOR_TARGET += ${matrix_arch_config}|" -i config.mak

      - name: Host - Show updated config.mak
        run: |
          for mak in *.mak; do
            {
              printf '\n%s\n\n' "# $mak"
              printf '%s\n' '```'
              while IFS= read -r line; do
                if [[ $line =~ ^-include[[:space:]](.*)$ ]]; then
                  [[ -f "${BASH_REMATCH[1]}" ]] && cat "${BASH_REMATCH[1]}"
                else
                  printf '%s\n' "$line"
                fi
              done < "$mak"
              printf '%s\n' '```'
            } | tee -a "$GITHUB_STEP_SUMMARY"
          done

      - name: Host - Cache sources (restore)
        uses: actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ${{ github.workspace }}/sources
          key: mcm-sources-${{ hashFiles('versions.mak') }}

      - name: Host - Github cache files - update timestamps
        run: find ${{ github.workspace }}/sources/ -type f -exec touch -a -m {} +

      - name: Docker - scripts +x
        run: docker exec ${container_name} chmod +x cowpatch.sh builder-helper.bash

      - name: Docker - install ${{ matrix.arch_type }} toolchain
        run: >
          docker exec "${container_name}"
          make -j"$(nproc)" install TARGET="${matrix_arch_type}" OUTPUT="${wd}/build/${matrix_arch_type}"

      - name: Host - archive ${{ matrix.arch_type }} toolchain
        run: |
          cd "$(pwd)/build"
          XZ_OPT=-9T0 tar -cvJf ${matrix_triple_prefix}-${matrix_arch_type}.tar.xz ${matrix_arch_type}/

      - name: Host - Generate artifact attestation
        uses: actions/attest-build-provenance@00014ed6ed5efc5b1ab7f7f34a39eb55d41aa4f8 # v3.1.0
        with:
          subject-path: "build/${{ matrix.triple_prefix }}-${{ matrix.arch_type }}.tar.xz"

      - name: Host - Docker - upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: "${{ matrix.triple_prefix }}-${{ matrix.arch_type }}-toolchain"
          path: "build/${{ matrix.triple_prefix }}-${{ matrix.arch_type }}.tar.xz"
