name: ci - toolchain release

on:
  workflow_call:

jobs:
  toolchain-release:
    name: toolchain release
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event.repository.default_branch }}
          persist-credentials: false

      - name: Host - Download artifacts
        uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8.0.0
        with:
          path: toolchains
          pattern: "*-toolchain"
          merge-multiple: true

      - name: set release info from versions.mak
        run: |
          printf '%b' '| Dependency | Version |\n|:---|:---|\n' > release_body.md;
          grep -v '^#' versions.mak | grep -v '^\s*$' | sed -E 's/ *([^ =]+) *= *(.*)/| `\1` | `\2` |/' >> release_body.md

      - name: set tag via date
        run: printf '%s\n' "github_tag=$(date +"%y%V")" >> $GITHUB_ENV

      - name: Create release - tag - assets
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          prerelease: false
          artifacts: "toolchains/*.tar.xz,versions.json"
          replacesArtifacts: true
          tag: "${{ env.github_tag }}"
          name: "musl-cross-make toolchains"
          bodyFile: release_body.md
          allowUpdates: true
