name: ci - toolchain release

on:
  workflow_call:

jobs:
  toolchain-release:
    name: toolchain release
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ github.event.repository.default_branch }}
          persist-credentials: false

      - name: Host - Download artifacts
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5
        with:
          path: toolchains
          pattern: "*-toolchain"
          merge-multiple: true

      - name: set release info from versions.mak
        run: |
          printf '%b' '| Dependency | Version |\n|:---|:---|\n' > release_body.md;
          grep -v '^#' versions.mak | grep -v '^\s*$' | sed -E 's/ *([^ =]+) *= *(.*)/| `\1` | `\2` |/' >> release_body.md

      - name: set tag via date
        run: printf '%s\n' "github_tag=$(date +"%y%V")" >> $GITHUB_ENV

      - name: Create release - tag - assets
        uses: ncipollo/release-action@bcfe5470707e8832e12347755757cec0eb3c22af # v1.18.0
        with:
          prerelease: false
          artifacts: "toolchains/*.tar.xz,versions.json"
          replacesArtifacts: true
          tag: "${{ env.github_tag }}"
          name: "musl-cross-make toolchains"
          bodyFile: release_body.md
          allowUpdates: true
