name: qbt-mcm build and release

on:
  - workflow_dispatch

jobs:
  bootstrap:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Host - wget musl-cross-make-master
        run: wget -qO musl-cross-make-master.tar.gz https://git.zv.io/toolchains/musl-cross-make/-/archive/master/musl-cross-make-master.tar.gz

      - name: "Upload Artifact"
        uses: actions/upload-artifact@v3
        with:
          name: musl-cross-make-master-archive
          path: musl-cross-make-master.tar.gz

  build:
    needs: bootstrap
    runs-on: ubuntu-latest
    container:
      image: alpine:edge
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        arch_type:
          [
            aarch64-linux-musl,
            arm-linux-musleabi,
            arm-linux-musleabihf,
            armv6-linux-musleabihf,
            armv7l-linux-musleabihf,
            i686-linux-musl,
            x86_64-linux-musl,
            mips-linux-muslsf,
            mips64-linux-musl,
            mips64el-linux-musl,
            mipsel-linux-muslsf,
            powerpc-linux-muslsf,
            powerpc64le-linux-musl,
            s390x-linux-musl,
            riscv64-linux-musl,
          ]

        include:
          - arch_type: "aarch64-linux-musl"
            arch_config: "--with-arch=armv8-a --with-abi=lp64"

          - arch_type: "arm-linux-musleabi"
            arch_config: "--with-arch=armv5te --with-tune=arm926ej-s --with-float=soft --with-abi=aapcs-linux"

          - arch_type: "arm-linux-musleabihf"
            arch_config: "--with-arch=armv6zk --with-tune=arm1176jzf-s --with-fpu=vfp --with-float=hard --with-abi=aapcs-linux"

          - arch_type: "armv6-linux-musleabihf"
            arch_config: "--with-arch=armv6zk --with-tune=arm1176jzf-s --with-fpu=vfp --with-float=hard --with-abi=aapcs-linux"

          - arch_type: "armv7l-linux-musleabihf"
            arch_config: "--with-arch=armv7-a --with-tune=generic-armv7-a --with-fpu=vfpv3-d16 --with-float=hard --with-abi=aapcs-linux --with-mode=thumb"

          - arch_type: "i686-linux-musl"
            arch_config: "--with-arch=i686 --with-tune=generic --enable-cld"

          - arch_type: "x86_64-linux-musl"
            arch_config: ""

          - arch_type: "mips-linux-muslsf"
            arch_config: "--with-arch=mips32 --with-mips-plt --with-float=soft --with-abi=32"

          - arch_type: "mips64-linux-musl"
            arch_config: "--with-arch=mips3 --with-tune=mips64 --with-mips-plt --with-float=soft --with-abi=64"

          - arch_type: "mips64el-linux-musl"
            arch_config: "--with-arch=mips3 --with-tune=mips64 --with-mips-plt --with-float=soft --with-abi=64"

          - arch_type: "mipsel-linux-muslsf"
            arch_config: "--with-arch=mips32 --with-mips-plt --with-float=soft --with-abi=32"

          - arch_type: "powerpc-linux-muslsf"
            arch_config: "--enable-secureplt --enable-decimal-float=no"

          - arch_type: "powerpc64le-linux-musl"
            arch_config: "--with-abi=elfv2 --enable-secureplt --enable-decimal-float=no --enable-targets=powerpcle-linux"

          - arch_type: "s390x-linux-musl"
            arch_config: "--with-arch=z196 --with-tune=zEC12 --with-zarch --with-long-double-128 --enable-decimal-float"

          - arch_type: "riscv64-linux-musl"
            arch_config: "--with-arch=rv64gc --with-abi=lp64d --enable-autolink-libatomic"

    name: ${{ matrix.name }} ${{ matrix.arch_type }}

    steps:
      - uses: actions/checkout@v3
        
      - name: Download artifact - musl-cross-make-master
        uses: actions/download-artifact@v3
        with:
          name: musl-cross-make-master-archive
          path: musl-cross-make-artifact-archive

      - name: Unpack musl-cross-make-master artifact
        run: tar -xf musl-cross-make-artifact-archive/musl-cross-make-master.tar.gz --strip-components 1 -C "$PWD"

      - name: apk install build deps
        run: >
          apk add autoconf automake bash bison build-base 
          cmake ccache curl findutils flex git graphviz libarchive-tools libtool linux-headers ncurses-dev 
          patch perl pkgconf python3 python3-dev re2c rsync tar texinfo ttf-freefont xz zip

      - name: Set ${{ matrix.arch_type }} musl to ${{ matrix.arch_config }}
        run: sed "s|COMMON_CONFIG += --disable-gprofng|COMMON_CONFIG += ${{ matrix.arch_config }} --disable-gprofng|" -i custom/config.mak

      - name: Copy updated config.mak to build directory
        run: cp -rf custom/. "$PWD"

      - name: install ${{ matrix.arch_type }} toolchain
        run: make -j"$(nproc)" install TARGET="${{ matrix.arch_type }}" OUTPUT="$(pwd)/build/${{ matrix.arch_type }}"

      - name: archive ${{ matrix.arch_type }} toolchain
        run: |
          cd "$(pwd)/build"
          XZ_OPT="-9" tar -cvJf ${{ matrix.arch_type }}.tar.xz ${{ matrix.arch_type }}/

      - name: set tag via date
        run: echo "github_tag=$(date +"%y%V")" >> $GITHUB_ENV

      - name: set release info dynamically from config.mak
        run: printf "%s\n" "$(sed -rn "/CONFIG_SUB_REV = (.*)/,/LINUX_VER = (.*)/p" config.mak)" > release_body.md

      - name: Create release - tag - assets
        uses: ncipollo/release-action@v1
        with:
          prerelease: false
          artifacts: "build/${{ matrix.arch_type }}.tar.xz"
          replacesArtifacts: true
          tag: "${{ env.github_tag }}"
          name: "musl-cross-make toolchains"
          bodyFile: "release_body.md"
          allowUpdates: true
          token: ${{ secrets.GITHUB_TOKEN }}
